//

$image-path: "../images/";

$color-white: #f2fbf4;
$color-dark-grey: #515250;
$color-light-grey: #acadab;
$color-dark-blue: #0c727c;
$color-light-blue: #92d4d3;
$color-dark-green: #399b75;
$color-light-green: #a8ead3;
$color-light-yellow: #efe6b1;
$color-yellow: #e59e5f;
