:root {
  --color-black: #111112;
  --color-white: #fff;
  --color-lt-grey: #eceff2;
  --color-grey: #717478;
  --color-dk-grey: #D8DBDD;
  --color-blue: #156ce3;
  --border-radius: 8px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

base, basefont, datalist, head, meta, script, style, title,
noembed, param, template {
  display: none;
}

html,
body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 0;
}

img,
svg {
  user-select: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue);
}

.hide {
  display: none;
}

.button {
  background: #e7f3ff;
  border-radius: 4px;
  color: var(--color-blue);
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  padding: 0 10px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  width: 100%;
  transition: background .2s;
}

.button:hover {
  background: #daecff;
}

.c-wrap {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .c-wrap {
    width: 100%;
  }
}

.c-block {
  width: 600px;
}

@media (max-width: 1023px) {
  .c-block {
    width: 100%;
  }
}

.c-block h6 {
  font-size: 15px;
  border-top: 1px solid var(--color-lt-grey);
  padding-top: 60px;
  margin-bottom: 15px;
}

@media (max-width: 1023px) {
  .c-block h6 {
    margin: 0 20px;
    padding: 40px 0 20px;
  }
}

.c-profile {
  position: sticky;
  top: 20px;
  right: 0;
  float: right;
  width: 280px;
  padding: 25px;
  font-size: 14px;
  border: 1px solid var(--color-lt-grey);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

@media (max-height: 640px) {
  .c-profile {
    position: absolute;
  }
}

@media (max-width: 1023px) {
  .c-profile {
    position: static;
    border: none;
    height: auto;
    float: none;
    padding: 40px 20px 20px;
    width: 100%;
  }
}

.c-profile h2 {
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1023px) {
  .c-profile h2 {
    font-size: 22px;
  }
}

.c-profile img {
  border-radius: 50%;
  display: block;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .c-profile img {
    margin-left: auto;
    margin-right: auto;
  }
}

.c-profile p {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 25px;
}

.c-profile p span {
  display: block;
}

.c-profile__links div, .c-profile__links a {
  display: block;
  margin-bottom: 15px;
}

.c-profile__links div:last-of-type, .c-profile__links a:last-of-type {
  margin-bottom: 0;
}

.c-profile__links div svg, .c-profile__links a svg {
  float: left;
  margin-right: 10px;
}

.c-profile__contact {
  border-top: 1px solid var(--color-lt-grey);
  margin: 20px 0 0;
  padding: 20px 0 0;
  clear: both;
  font-weight: 600;
}

@media (max-width: 1023px) {
  .c-profile__contact {
    border: none;
    margin-top: 0;
    padding-top: 15px;
  }
}

.c-profile svg {
  max-width: 24px;
  max-height: 24px;
}

@media (max-width: 1023px) {
  .c-profile svg {
    max-width: 26px;
    max-height: 26px;
  }
}

.c-tab {
  font-size: 14px;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid var(--color-lt-grey);
  height: 80px;
  background: var(--color-white);
}

@media (max-width: 1023px) {
  .c-tab {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.c-tab a {
  border-bottom: 3px solid transparent;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  height: 100%;
}

@media (max-width: 1023px) {
  .c-tab a {
    display: inline-block;
    line-height: 60px;
    float: left;
    text-align: center;
    margin-right: 0;
    width: 50%;
  }
}

.c-tab a.active {
  font-weight: 600;
  color: var(--color-blue);
  border-color: var(--color-blue);
}

.c-tab a.active:hover {
  border-color: var(--color-blue);
}

.c-tab a:hover {
  border-color: var(--color-lt-grey);
}

.c-note {
  background: #F2F4F6;
  border-radius: var(--border-radius);
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .c-note {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media print {
  .c-note {
    padding: 0;
  }
}

.c-job {
  margin: 80px 0;
}

.c-job:last-of-type {
  margin-bottom: 60px;
}

@media (max-width: 1023px) {
  .c-job:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 1023px) {
  .c-job {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
  }
}

.c-job--title {
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 24px;
  line-height: 115%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.c-job--title span {
  font-weight: 400;
  color: var(--color-lt-grey);
}

.c-job--company-title {
  font-size: 14px;
  color: var(--color-grey);
}

.c-job--company-title span {
  display: block;
}

.c-job--period {
  font-size: 14px;
  color: var(--color-grey);
}

.c-job--h3 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px;
}

.c-job p {
  margin-top: 0;
  margin-bottom: 20px;
}

.c-job ul {
  margin-left: 20px;
}

.c-job ul a:hover {
  color: var(--color-blue);
}

.c-job ul p {
  color: var(--color-grey);
  font-size: 14px;
  margin: 0;
}

.c-tag {
  border: 1px solid var(--color-lt-grey);
  color: var(--color-grey);
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;
  line-height: 120%;
  padding: 8px 13px;
  margin-bottom: 5px;
  transition: background .2s;
}

.c-tag:hover {
  border-color: var(--color-dk-grey);
  color: var(--color-grey);
}

.c-edu {
  margin-bottom: 15px;
}

.c-edu:last-of-type {
  margin-bottom: 80px;
}

@media (max-width: 1023px) {
  .c-edu {
    padding: 0 20px;
  }
}

.external-link {
  background: url(../images/icons/icon-arrow-2.svg?2) right center no-repeat;
  display: inline-block;
  padding-right: 15px;
}

.c-header {
  cursor: pointer;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1023px) {
  .c-header {
    display: none;
    margin-bottom: 0;
  }
}

.c-header.active svg {
  transform: rotate(-180deg);
}

.c-header svg {
  margin-right: 10px;
  transition: .3s linear;
}

::selection {
  background: var(--color-lt-grey);
  color: var(--color-blue);
}

::-moz-selection {
  background: var(--color-lt-grey);
  color: var(--color-blue);
}

::-webkit-selection {
  background: var(--color-lt-grey);
  color: var(--color-blue);
}
